/.env
/vendor/
/node_modules/
/storage/logs/*
/storage/cache/*
/public/uploads/*
/public/assets/css/app.min.css
.DS_Store
*.log
Thumbs.db

!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/public/uploads/.gitkeep
