/.env
/vendor/
/node_modules/
/.phpunit.cache/
/storage/logs/*
/storage/cache/*
/storage/geoip/*
/public/uploads/*
.DS_Store
*.log
Thumbs.db

!/storage/logs/.gitkeep
!/storage/cache/.gitkeep
!/storage/geoip/.gitkeep
!/public/uploads/.gitkeep
!/public/uploads/.htaccess
